.persData {
    margin-top: 5%;
    text-align: center;
}
.user_photo {
    width: 200px;
    height: 250px;
    border-radius: 50%;
    margin:auto   
}
h2 {
    display: block;
    border-bottom: 2px solid black;
    padding-left: 1%;
}
.skills {
    display: block;
    border-bottom: 1px solid black;
}
section {
    margin: 0 10% 0;
}
.table {
    width: 100%;
}
a {
    text-decoration: none;
}